/* $phone: max-width 600px */

$font-header: 'Oleo Script', sans-serif;
$font-main: 'Lato', sans-serif;
$font-rsvp: 'Arvo', sans-serif;
$font-fancy: 'Great Vibes', sans-serif;
$grey: #342e37;
$white: #f8f8f8;
$grey2: #4a4a4a;
$cardColor: rgb(218, 221, 238, 0.6);
$cardTextColor: rgba(51, 62, 105, 0.945);
$boxShadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);

* {
	box-sizing: border-box;
	margin: 0;
}

.hero-image {
	display: flex;
	flex-direction: column;
	background-image: url(./images/hero-img-comp.svg);
	background-size: 60%;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	min-height: 100%;
	justify-content: center;
}

.header-bride-text,
.header-groom-text {
	font-family: $font-fancy;
	text-align: center;
	font-size: 7em;
	margin-bottom: 0.9em;
	color: $white;
	text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
	border-color: #342e37;
	-moz-text-stroke-width: 1px;
	-moz-text-stroke-color: $grey;
}

.header-bride-text {
	margin-right: 45%;
}

.header-subtext {
	margin-bottom: 3.5em;
}

.header-location-text {
	padding-top: 1%;
}

.header-subtext {
	position: absolute;
	bottom: -2em;
	align-self: center;
}

.header-and-text {
	display: none;
}

.header-groom-text {
	margin-left: 30%;
}

.header-date-text,
.header-location-text,
.header-subtext {
	font-family: $font-fancy;
	text-align: center;
	color: $grey;
	font-size: 1.4em;
}
.header-date-text {
	position: absolute;
	top: 1em;
	align-self: center;
	position: absolute;
}

.rsvp-button {
	letter-spacing: 10px;
	border: 2px solid black;
	border-radius: 10px;
	background-color: Transparent;
	color: black;
	padding: 8px 90px;
	font-size: 1.2em;
	cursor: pointer;
	border-color: $grey;
	color: $white;
	align-self: center;
	position: absolute;
	bottom: 3em;
	// box-shadow: 2px 3px #00000085;
	font-family: 'Arvo', sans-serif !important; // iOS not using correct font
	-moz-text-stroke-width: 1px;
	-moz-text-stroke-color: $grey;
	text-shadow: -1px 0 black, 0 0.5px black, 1px 0 black, 0 -1px black;
	margin-bottom: 10px;
}

.couple-container {
	display: flex;
	justify-content: center;
	//  color: $white;
	//  background-color: $grey;
}

.couple-container-header {
	text-align: center;
	font-family: $font-fancy;
	padding: 1em;
	font-size: 3.35em;
}

.couple-groom-container,
.couple-bride-container {
	font-family: $font-main;
	box-shadow: $boxShadow;
	transition: 0.3s;
	width: 500px;
	margin: 2em;
	background-color: $cardColor;
	border-radius: 5px;
	margin: auto;
	margin-bottom: 1em;
	margin-top: 1em;
}

.title-couple-container {
	color: $cardTextColor;
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-image: url(./images/couple_gradient.svg);
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

.zac,
.blair {
	display: flex;
	height: 185px;
	justify-content: center;
	align-content: center;
	align-self: center;
}

.couple-subtext {
	padding: 0.4em;
	text-align: center;
}

.groom-img,
.bride-img {
	display: flex;
	justify-content: center;
}

.groom-info,
.bride-info {
	padding: 1em;
	width: 85%;
	line-height: 1.3;
}

.wedding-info-container {
	display: flex;
	flex-direction: column;
	padding: 1em;
	background-image: url(./images/gradient-splash.svg);
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	// height: 100vh;
}
.wedding-card-container {
	display: flex;
}

.ceremony-venue-card,
.party-venue-card {
	margin: auto;
	width: 35%;
	box-shadow: $boxShadow;
	border-radius: 5px;
}
.card-info {
	font-family: $font-main;
	color: $grey2;
	width: 100%;
	padding: 1em;
	line-height: 1.3;
}

.card-img {
	width: 100%;
}

.card-header {
	font-family: $font-fancy;
	color: $grey;
	text-align: center;
	padding: 0.5em;
}

.countdown {
	font-family: $font-fancy;
	text-align: center;
	color: $grey;
	font-weight: 100;
	font-size: 40px;
	margin: 40px 0px 20px;
}

#clockdiv {
	font-family: $font-fancy;
	box-shadow: $boxShadow;
	letter-spacing: 3px;
	color: #fff;
	display: flex;
	justify-content: center;
	align-self: center;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
	background: rgb(238, 174, 202);
	background: -moz-linear-gradient(
		90deg,
		rgba(238, 174, 202, 1) 0%,
		rgba(148, 187, 233, 1) 100%
	);
	background: -webkit-linear-gradient(
		90deg,
		rgba(238, 174, 202, 1) 0%,
		rgba(148, 187, 233, 1) 100%
	);
	background: linear-gradient(
		90deg,
		rgba(238, 174, 202, 1) 0%,
		rgba(148, 187, 233, 1) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeaeca",endColorstr="#94bbe9",GradientType=1);
	width: 25%;
	opacity: 0.7;
	border-radius: 15px;
}

#clockdiv > div {
	padding: 10px;
	border-radius: 3px;

	display: inline-block;
}

#clockdiv div > span {
	// padding: 15px;
	border-radius: 3px;
	// background: #00816A;
	display: inline-block;
}

.smalltext {
	padding-top: 5px;
	font-size: 16px;
}

/* Form Styling */
.form-container {
  position: relative;
  max-width: 40rem;
  margin: 5rem auto;
  background: #fff;
  width: 100%;
  padding: 3rem 5rem 0;
  border-radius: 1px;
  display: none;
  z-index: 9;
}

.form-header-rsvp {
  font-family: $font-rsvp;
  text-align: center;
  letter-spacing: 5px;
}

.form-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  -webkit-transition: -webkit-transform 0.28s ease-in-out;
  transition: -webkit-transform 0.28s ease-in-out;
  transition: transform 0.28s ease-in-out;
  transition: transform 0.28s ease-in-out, -webkit-transform 0.28s ease-in-out;
  z-index: -1;
}
.container:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.button-container {
  text-align: center;
}

fieldset {
  margin: 0 0 3rem;
  padding: 0;
  border: none;
}

.form-radio,
.form-group {
  position: relative;
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
}

.form-inline > .form-group,
.form-inline > .btn {
  display: inline-block;
  margin-bottom: 0;
}

.form-help {
  margin-top: 0.125rem;
  margin-left: 0.125rem;
  color: #b3b3b3;
  font-size: 0.8rem;
}
.checkbox .form-help, .form-radio .form-help, .form-group .form-help {
  position: absolute;
  width: 100%;
}
.checkbox .form-help {
  position: relative;
  margin-bottom: 1rem;
}
.form-radio .form-help {
  padding-top: 0.25rem;
  margin-top: -1rem;
}

.form-group input {
  height: 1.9rem;
}
.form-group textarea {
  resize: none;
}
.form-group select {
  width: 100%;
  font-size: 1rem;
  height: 1.6rem;
  padding: 0.125rem 0.125rem 0.0625rem;
  background: none;
  border: none;
  line-height: 1.6;
  box-shadow: none;
}
.form-group .control-label {
  position: absolute;
  top: 0.25rem;
  pointer-events: none;
  padding-left: 0.125rem;
  z-index: 1;
  color: #b3b3b3;
  font-size: 1rem;
  font-weight: normal;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
}
.form-group .bar {
  position: relative;
  border-bottom: 0.0625rem solid #999;
  display: block;
}
.form-group .bar::before {
  content: '';
  height: 0.125rem;
  width: 0;
  left: 50%;
  bottom: -0.0625rem;
  position: absolute;
  background: #337ab7;
  -webkit-transition: left 0.28s ease, width 0.28s ease;
  transition: left 0.28s ease, width 0.28s ease;
  z-index: 2;
}
.form-group input,
.form-group textarea {
  display: block;
  background: none;
  padding: 0.125rem 0.125rem 0.0625rem;
  font-size: 1rem;
  border-width: 0;
  border-color: transparent;
  line-height: 1.9;
  width: 100%;
  color: transparent;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
  box-shadow: none;
}
.form-group input[type="file"] {
  line-height: 1;
}
.form-group input[type="file"] ~ .bar {
  display: none;
}
.form-group select,
.form-group input:focus,
.form-group input:valid,
.form-group input.form-file,
.form-group input.has-value,
.form-group textarea:focus,
.form-group textarea:valid,
.form-group textarea.form-file,
.form-group textarea.has-value {
  color: #333;
}
.form-group select ~ .control-label,
.form-group input:focus ~ .control-label,
.form-group input:valid ~ .control-label,
.form-group input.form-file ~ .control-label,
.form-group input.has-value ~ .control-label,
.form-group textarea:focus ~ .control-label,
.form-group textarea:valid ~ .control-label,
.form-group textarea.form-file ~ .control-label,
.form-group textarea.has-value ~ .control-label {
  font-size: 0.8rem;
  color: gray;
  top: -1rem;
  left: 0;
}
.form-group select:focus,
.form-group input:focus,
.form-group textarea:focus {
  outline: none;
}
.form-group select:focus ~ .control-label,
.form-group input:focus ~ .control-label,
.form-group textarea:focus ~ .control-label {
  color: #337ab7;
}
.form-group select:focus ~ .bar::before,
.form-group input:focus ~ .bar::before,
.form-group textarea:focus ~ .bar::before {
  width: 100%;
  left: 0;
}

.checkbox label,
.form-radio label {
  position: relative;
  cursor: pointer;
  padding-left: 2rem;
  text-align: left;
  color: #333;
  display: block;
}
.checkbox input,
.form-radio input {
  width: auto;
  opacity: 0.00000001;
  position: absolute;
  left: 0;
}

.radio {
  margin-bottom: 1rem;
}
.radio .helper {
  position: absolute;
  top: -0.25rem;
  left: -0.25rem;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #999;
}
.radio .helper::before, .radio .helper::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin: 0.25rem;
  width: 1rem;
  height: 1rem;
  -webkit-transition: -webkit-transform 0.28s ease;
  transition: -webkit-transform 0.28s ease;
  transition: transform 0.28s ease;
  transition: transform 0.28s ease, -webkit-transform 0.28s ease;
  border-radius: 50%;
  border: 0.125rem solid currentColor;
}
.radio .helper::after {
  -webkit-transform: scale(0);
          transform: scale(0);
  background-color: #337ab7;
  border-color: #337ab7;
}
.radio label:hover .helper {
  color: #337ab7;
}
.radio input:checked ~ .helper::after {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}
.radio input:checked ~ .helper::before {
  color: #337ab7;
}

.checkbox {
  margin-top: 3rem;
  margin-bottom: 1rem;
}
.checkbox .helper {
  color: #999;
  position: absolute;
  top: 0;
  left: 0;
  width: 1rem;
  height: 1rem;
  z-index: 0;
  border: 0.125rem solid currentColor;
  border-radius: 0.0625rem;
  -webkit-transition: border-color 0.28s ease;
  transition: border-color 0.28s ease;
}
.checkbox .helper::before, .checkbox .helper::after {
  position: absolute;
  height: 0;
  width: 0.2rem;
  background-color: #337ab7;
  display: block;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  border-radius: 0.25rem;
  content: '';
  -webkit-transition: opacity 0.28s ease, height 0s linear 0.28s;
  transition: opacity 0.28s ease, height 0s linear 0.28s;
  opacity: 0;
}
.checkbox .helper::before {
  top: 0.65rem;
  left: 0.38rem;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  box-shadow: 0 0 0 0.0625rem #fff;
}
.checkbox .helper::after {
  top: 0.3rem;
  left: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.checkbox label:hover .helper {
  color: #337ab7;
}
.checkbox input:checked ~ .helper {
  color: #337ab7;
}
.checkbox input:checked ~ .helper::after, .checkbox input:checked ~ .helper::before {
  opacity: 1;
  -webkit-transition: height 0.28s ease;
  transition: height 0.28s ease;
}
.checkbox input:checked ~ .helper::after {
  height: 0.5rem;
}
.checkbox input:checked ~ .helper::before {
  height: 1.2rem;
  -webkit-transition-delay: 0.28s;
          transition-delay: 0.28s;
}

.radio + .radio,
.checkbox + .checkbox {
  margin-top: 1rem;
}

.has-error .legend.legend, .has-error.form-group .control-label.control-label {
  color: #d9534f;
}
.has-error.form-group .form-help,
.has-error.form-group .helper, .has-error.checkbox .form-help,
.has-error.checkbox .helper, .has-error.radio .form-help,
.has-error.radio .helper, .has-error.form-radio .form-help,
.has-error.form-radio .helper {
  color: #d9534f;
}
.has-error .bar::before {
  background: #d9534f;
  left: 0;
  width: 100%;
}

.button {
  position: relative;
  background: currentColor;
  border: 1px solid currentColor;
  font-size: 1.1rem;
  color: #4f93ce;
  margin: 3rem 0;
  padding: 0.75rem 3rem;
  cursor: pointer;
  -webkit-transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
  transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
  overflow: hidden;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.button span {
  color: #fff;
  position: relative;
  z-index: 1;
}
.button::before {
  content: '';
  position: absolute;
  background: #071017;
  border: 50vh solid #1d4567;
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  display: block;
  top: 50%;
  left: 50%;
  z-index: 0;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}
.button:hover {
  color: #337ab7;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}
.button:active::before, .button:focus::before {
  -webkit-transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
  transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
  transition: transform 1.12s ease, opacity 0.28s ease 0.364s;
  transition: transform 1.12s ease, opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 0;
}
.button:focus {
  outline: none;
}




/* Mobile Styles */

/* Basline Mobile */
@media only screen and (max-width: 600px) {
	.header-bride-text,
	.header-groom-text {
		font-size: 5.6em;
		color: $white;
	}

  .rsvp-button {
    font-family: $font-rsvp;
  }
  
	.header-and-text,
	.header-bride-text,
	.header-groom-text {
		text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
		border-color: black;
		-moz-text-stroke-width: 1px;
		-moz-text-stroke-color: black;
		color: $white;
	}

	.header-bride-text {
		position: absolute;
		bottom: 0.4em;
		padding-left: 5%;
	}

	.title-couple-container {
		display: block;
		overflow: scroll;
		height: auto;
	}

	.couple-container {
		flex-direction: column;
	}

	.couple-subtext {
		padding: 0.5em;
	}

	.hero-image {
    width: 100vw;
    background-size: 175% 100%;
	}

	.couple-bride-container,
	.couple-groom-container {
		width: 80%;
	}

	.groom-info,
	.bride-info {
		width: 100%;
		padding: 1em;
		line-height: 1.5;
	}

	.header-and-text {
		display: flex;
		font-family: 'Oleo Script', sans-serif;
	}

	.header-groom-text {
		position: absolute;
		bottom: 1.5em;
		right: 5%;
	}

	.header-and-text {
		font-family: $font-fancy;
		color: #ffffff;
		position: absolute;
		left: 55%;
		right: 25%;
		bottom: 6.3em;
	}

	.header-date-text {
		position: absolute;
		top: 1em;
	}

	.header-subtext {
		position: absolute;
		bottom: -3em;
	}

	.wedding-card-container {
		flex-direction: column;
	}

	.ceremony-venue-card,
	.party-venue-card {
		width: 95%;
		margin: auto;
		margin-bottom: 2em;
	}

	#clockdiv {
		width: 100%;
  }
  .portrait-img {
    width: 125px;
  }
}

/* Tablet */
@media only screen and (min-width: 601px) and (max-width: 1019px) {
}
